//Note: html has two children; head and body
//Also, body doesn't go all the way down.

html {
  border: 9px purple dotted;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px red dotted;
  background-color: #f3f3d3;
  height: 100%;
}
